<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName="Fallout 4 - Čeština" ?>
<?ifndef ProductVersion ?><?define ProductVersion="0.0.1" ?><?endif ?>
<?define ProductUrl="https://prekladyher.github.io/fallout4-cestina/" ?>
<?define Manufacturer="prekladyher.eu" ?>
<?define SourceBase="../../target" ?>
<?define UpgradeCode="34157A8C-584D-4A70-B4D4-3D11D419F54E" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="$(var.UpgradeCode)"
            Name="$(var.ProductName)" Manufacturer="$(var.Manufacturer)"
            Language="1033" Codepage="1250" Version="$(var.ProductVersion)">

        <!-- Basic package configuration -->
        <Package Id="*" InstallerVersion="400"
                Manufacturer="$(var.Manufacturer)" Description="$(var.ProductName)"
                Languages="1033" Compressed="yes" SummaryCodepage="1250" />
        <MediaTemplate EmbedCab="yes" />

        <!-- Product upgrade configuration -->
        <Upgrade Id="$(var.UpgradeCode)">
            <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
                    Maximum="$(var.ProductVersion)" IncludeMaximum="no" />
        </Upgrade>

        <!-- Lookup game directory -->
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="Fallout4Registry" Root="HKLM" Type="directory"
                    Key="SOFTWARE\WOW6432Node\Bethesda Softworks\Fallout4" Name="installed path" />
        </Property>
        <Condition Message="Nebylo možné najít složku Fallout 4.">
            <![CDATA[Installed OR INSTALLDIR]]>
        </Condition>

        <!-- Lookup game configuration -->
        <Property Id="FALLOUTPERSONAL">
            <DirectorySearch Id="FalloutPersonal" Path="[PersonalFolder]\My Games\Fallout4" AssignToProperty="yes" />
        </Property>
        <Property Id="FALLOUTCONFIG">
            <DirectorySearch Id="FalloutPersonal" Path="[FALLOUTPERSONAL]">
                <FileSearch Id="Fallout4Custom.ini" Name="Fallout4Custom.ini" />
            </DirectorySearch>
        </Property>

        <!-- Define target structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIR" Name="Fallout4">
                <Directory Id="DataDir" Name="Data">
                    <Directory Id="InterfaceDir" Name="Interface" />
                    <Directory Id="StringsDir" Name="Strings" />
                </Directory>
            </Directory>
        </Directory>

        <!-- Default components -->
        <DirectoryRef Id="TARGETDIR">
            <Component Id="Fallout4Custom" Guid="9AE43969-D7CB-495C-ABB1-007E289E2579" KeyPath="yes" Permanent="yes">
                <IniFile Id="Fallout4Custom.ini" Directory="FALLOUTPERSONAL" Name="Fallout4Custom.ini"
                        Action="addLine" Section="Archive" Key="bInvalidateOlderFiles" Value="1" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="InterfaceDir" FileSource="$(var.SourceBase)/interface">
            <Component Id="Interface" Guid="AB180B8A-B118-4A62-9F5F-E408994A2C8A">
                <File Id="FontConfig.txt" />
                <File Id="FalloutDict.txt" />
                <File Id="fonts_console.swf" />
                <File Id="fonts_en.swf" />
                <File Id="Translate_en.txt" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="StringsDir" FileSource="$(var.SourceBase)/strings">
            <Component Id="Fallout4" Guid="4B12370A-B699-4B52-8F83-C697C36920A5">
                <File Id="Fallout4_en.STRINGS" />
                <File Id="Fallout4_en.ILSTRINGS" />
                <File Id="Fallout4_en.DLSTRINGS" />
            </Component>
            <Component Id="DLCworkshop01" Guid="69544D15-CF23-4304-85F0-7D63D87826A3">
                <File Id="DLCworkshop01_en.STRINGS" />
                <File Id="DLCworkshop01_en.ILSTRINGS" />
                <File Id="DLCworkshop01_en.DLSTRINGS" />
            </Component>
            <Component Id="DLCworkshop02" Guid="35A6EAF0-D0DC-43D0-A1F2-A4A78980BEBB">
                <File Id="DLCworkshop02_en.STRINGS" />
                <File Id="DLCworkshop02_en.ILSTRINGS" />
                <File Id="DLCworkshop02_en.DLSTRINGS" />
            </Component>
            <Component Id="DLCworkshop03" Guid="6C00489D-4ECD-4FA1-B1AA-CF435DD0E08F">
                <File Id="DLCworkshop03_en.STRINGS" />
                <File Id="DLCworkshop03_en.ILSTRINGS" />
                <File Id="DLCworkshop03_en.DLSTRINGS" />
            </Component>
            <Component Id="DLCRobot" Guid="FDE891F8-5A11-44FE-AA05-A27858BB304A">
                <File Id="DLCRobot_en.STRINGS" />
                <File Id="DLCRobot_en.ILSTRINGS" />
                <File Id="DLCRobot_en.DLSTRINGS" />
            </Component>
            <Component Id="DLCCoast" Guid="7F19C23E-B696-4B35-A05B-C07F313AF601">
                <File Id="DLCCoast_en.STRINGS"  />
                <File Id="DLCCoast_en.ILSTRINGS" />
                <File Id="DLCCoast_en.DLSTRINGS" />
            </Component>
            <Component Id="DLCNukaWorld" Guid="32F41D12-8805-467B-B7A4-78D6B9BD76A3">
                <File Id="DLCNukaWorld_en.STRINGS" />
                <File Id="DLCNukaWorld_en.ILSTRINGS" />
                <File Id="DLCNukaWorld_en.DLSTRINGS" />
            </Component>
            <Component Id="ccBGSFO4044_HellfirePowerArmor" Guid="9E20A088-35C0-484D-ABAE-B40F40C7752A">
                <File Name="ccBGSFO4044-HellfirePowerArmor_en.STRINGS" />
                <File Name="ccBGSFO4044-HellfirePowerArmor_en.DLSTRINGS"  />
                <File Name="ccBGSFO4044-HellfirePowerArmor_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccBGSFO4046_TesCan" Guid="81DD74C4-7815-4FF5-8E20-01EB51CBC836">
                <File Name="ccBGSFO4046-TesCan_en.STRINGS" />
                <File Name="ccBGSFO4046-TesCan_en.DLSTRINGS"  />
                <File Name="ccBGSFO4046-TesCan_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccBGSFO4096_AS_Enclave" Guid="BF640B55-6F03-436E-9A6F-300C091DE204">
                <File Name="ccBGSFO4096-AS_Enclave_en.STRINGS" />
                <File Name="ccBGSFO4096-AS_Enclave_en.DLSTRINGS"  />
                <File Name="ccBGSFO4096-AS_Enclave_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccBGSFO4110_WS_Enclave" Guid="C2CCE86E-AD38-435C-A32B-EA8C03C2489D">
                <File Name="ccBGSFO4110-WS_Enclave_en.STRINGS" />
                <File Name="ccBGSFO4110-WS_Enclave_en.DLSTRINGS"  />
                <File Name="ccBGSFO4110-WS_Enclave_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccBGSFO4115_X02" Guid="E80E4B96-C898-4251-819E-0C364316E9AF">
                <File Name="ccBGSFO4115-X02_en.STRINGS" />
                <File Name="ccBGSFO4115-X02_en.DLSTRINGS"  />
                <File Name="ccBGSFO4115-X02_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccBGSFO4116_HeavyFlamer" Guid="472A7793-CD09-4E02-B42D-C15112BA524F">
                <File Name="ccBGSFO4116-HeavyFlamer_en.STRINGS" />
                <File Name="ccBGSFO4116-HeavyFlamer_en.DLSTRINGS"  />
                <File Name="ccBGSFO4116-HeavyFlamer_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccFSVFO4007_Halloween" Guid="13123DED-B343-4C6D-8C82-E04005100A03">
                <File Name="ccFSVFO4007-Halloween_en.STRINGS" />
                <File Name="ccFSVFO4007-Halloween_en.DLSTRINGS"  />
                <File Name="ccFSVFO4007-Halloween_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccOTMFO4001_Remnants" Guid="F249CBC2-4888-497E-85A2-0ACB614D1F71">
                <File Name="ccOTMFO4001-Remnants_en.STRINGS" />
                <File Name="ccOTMFO4001-Remnants_en.DLSTRINGS"  />
                <File Name="ccOTMFO4001-Remnants_en.ILSTRINGS"  />
            </Component>
            <Component Id="ccSBJFO4003_Grenade" Guid="DAE7D288-1D94-4023-BF7E-B0BF59F5459A">
                <File Name="ccSBJFO4003-Grenade_en.STRINGS" />
                <File Name="ccSBJFO4003-Grenade_en.DLSTRINGS"  />
                <File Name="ccSBJFO4003-Grenade_en.ILSTRINGS"  />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="INSTALLDIR" FileSource="$(var.SourceBase)">
            <Component Id="About" Guid="E286B976-38E7-46C9-9A35-D78C23CAECE6">
                <File Id="Fallout4_Cestina.html" />
                <File Id="Fallout4_Cestina.png" />
            </Component>
        </DirectoryRef>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="About" />
            <ComponentRef Id="Fallout4Custom" />
            <ComponentRef Id="Interface" />
            <ComponentRef Id="Fallout4" />
            <ComponentRef Id="DLCworkshop01" />
            <ComponentRef Id="DLCworkshop02" />
            <ComponentRef Id="DLCworkshop03" />
            <ComponentRef Id="DLCRobot" />
            <ComponentRef Id="DLCCoast" />
            <ComponentRef Id="DLCNukaWorld" />
            <ComponentRef Id="ccBGSFO4044_HellfirePowerArmor" />
            <ComponentRef Id="ccBGSFO4046_TesCan" />
            <ComponentRef Id="ccBGSFO4096_AS_Enclave" />
            <ComponentRef Id="ccBGSFO4110_WS_Enclave" />
            <ComponentRef Id="ccBGSFO4115_X02" />
            <ComponentRef Id="ccBGSFO4116_HeavyFlamer" />
            <ComponentRef Id="ccFSVFO4007_Halloween" />
            <ComponentRef Id="ccOTMFO4001_Remnants" />
            <ComponentRef Id="ccSBJFO4003_Grenade" />
        </Feature>

        <!-- Open README after install -->
        <Property Id="WixShellExecTarget" Value="[#Fallout4_Cestina.html]" />
        <CustomAction Id="OpenReadme" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />
        <UI>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="OpenReadme">NOT Installed</Publish>
        </UI>

        <!-- Read-only flag removal -->
        <SetProperty Id="RemoveReadOnly" Before="RemoveReadOnly" Sequence="execute"
                Value="&quot;[WindowsFolder]System32\attrib.exe&quot; -r &quot;[FALLOUTCONFIG]&quot;" />
        <CustomAction Id="RemoveReadOnly" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred"
                Return="check" Impersonate="no" />

        <!-- Custom install sequence -->
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
            <Custom Action="RemoveReadOnly" After="InstallInitialize" />
        </InstallExecuteSequence>

        <!-- Define installer icon -->
        <Icon Id="Icon" SourceFile="installer-icon.ico" />

        <!-- Configure properties for add/remove programs -->
        <Property Id="ARPPRODUCTICON" Value="Icon" />
        <Property Id="ARPHELPLINK" Value="$(var.ProductUrl)" />

        <!-- Define UI properties -->
        <WixVariable Id="WixUIBannerBmp" Value="installer-banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="installer-header.bmp" />

        <!-- Include UI configuration -->
        <?include installer-simpleui.wxi ?>
    </Product>
</Wix>