<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName="Fallout 4 - Čeština" ?>
<?ifndef ProductVersion ?><?define ProductVersion="0.0.1" ?><?endif ?>
<?define ProductUrl="https://prekladyher.eu/preklady/fallout-4.79/" ?>
<?define Manufacturer="prekladyher.eu" ?>
<?define SourceBase="../../target" ?>
<?define UpgradeCode="34157A8C-584D-4A70-B4D4-3D11D419F54E" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="$(var.UpgradeCode)"
            Name="$(var.ProductName)" Manufacturer="$(var.Manufacturer)"
            Language="1033" Codepage="1250" Version="$(var.ProductVersion)">

        <!-- Basic package configuration -->
        <Package Id="*" InstallerVersion="400"
                Manufacturer="$(var.Manufacturer)" Description="$(var.ProductName)"
                Languages="1033" Compressed="yes" SummaryCodepage="1250" />
        <MediaTemplate EmbedCab="yes" />

        <!-- Product upgrade configuration -->
        <Upgrade Id="$(var.UpgradeCode)">
            <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
                    Maximum="$(var.ProductVersion)" IncludeMaximum="no" />
        </Upgrade>

        <!-- Lookup game directory -->
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="Fallout4Registry" Root="HKLM" Type="directory"
                    Key="SOFTWARE\WOW6432Node\Bethesda Softworks\Fallout4" Name="installed path" />
        </Property>
        <Condition Message="Nebylo možné najít složku Fallout 4.">
            <![CDATA[Installed OR INSTALLDIR]]>
        </Condition>

        <!-- Lookup game configuration -->
        <Property Id="FALLOUTPERSONAL">
            <DirectorySearch Id="FalloutPersonal" Path="[PersonalFolder]\My Games\Fallout4" AssignToProperty="yes" />
        </Property>
        <Property Id="FALLOUTCONFIG">
            <DirectorySearch Id="FalloutPersonal" Path="[FALLOUTPERSONAL]">
                <FileSearch Id="Fallout4Custom.ini" Name="Fallout4Custom.ini" />
            </DirectorySearch>
        </Property>

        <!-- Define target structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIR" Name="Fallout4">
                <Directory Id="DataDir" Name="Data">
                    <Directory Id="InterfaceDir" Name="Interface" />
                    <Directory Id="StringsDir" Name="Strings" />
                </Directory>
            </Directory>
        </Directory>

        <!-- Default components and feature -->
        <DirectoryRef Id="TARGETDIR">
            <Component Id="Fallout4Custom.ini" Guid="9AE43969-D7CB-495C-ABB1-007E289E2579" KeyPath="yes" Permanent="yes">
                <IniFile Id="Fallout4Custom.ini" Directory="FALLOUTPERSONAL" Name="Fallout4Custom.ini"
                        Action="addLine" Section="Archive" Key="bInvalidateOlderFiles" Value="1" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="InterfaceDir" FileSource="$(var.SourceBase)/interface">
            <Component Id="FalloutDict.txt" Guid="12EFF6F4-D4B3-46DE-B19D-8ECC9C14E2FD">
                <RemoveFile Id="FalloutDict.txt" Name="FalloutDict.txt" On="both" />
                <File Id="FalloutDict.txt" KeyPath="yes" />
            </Component>
            <Component Id="fonts_console.swf" Guid="FE877870-B4EE-4BCC-8629-4BF416304551">
                <RemoveFile Id="fonts_console.swf" Name="fonts_console.swf" On="both" />
                <File Id="fonts_console.swf" KeyPath="yes" />
            </Component>
            <Component Id="fonts_en.swf" Guid="7207CCFC-D1FE-455B-885F-C2B2D5C621A0">
                <RemoveFile Id="fonts_en.swf" Name="fonts_en.swf" On="both" />
                <File Id="fonts_en.swf" KeyPath="yes" />
            </Component>
            <Component Id="Translate_en.txt" Guid="DCAEE1F0-201B-438B-84B1-8473A3F79B04">
                <RemoveFile Id="Translate_en.txt" Name="Translate_en.txt" On="both" />
                <File Id="Translate_en.txt" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="StringsDir" FileSource="$(var.SourceBase)/strings">
            <Component Id="Fallout4_en.STRINGS" Guid="4B12370A-B699-4B52-8F83-C697C36920A5">
                <RemoveFile Id="Fallout4_en.STRINGS" Name="Fallout4_en.STRINGS" On="both" />
                <File Id="Fallout4_en.STRINGS" KeyPath="yes" />
            </Component>
            <Component Id="Fallout4_en.ILSTRINGS" Guid="77898D90-8E42-4706-9957-8213DC573A0B">
                <RemoveFile Id="Fallout4_en.ILSTRINGS" Name="Fallout4_en.ILSTRINGS" On="both" />
                <File Id="Fallout4_en.ILSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="Fallout4_en.DLSTRINGS" Guid="226CD62C-D2CA-4DF2-9798-4FE1DD22AEB1">
                <RemoveFile Id="Fallout4_en.DLSTRINGS" Name="Fallout4_en.DLSTRINGS" On="both" />
                <File Id="Fallout4_en.DLSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop01_en.STRINGS" Guid="69544D15-CF23-4304-85F0-7D63D87826A3">
                <RemoveFile Id="DLCworkshop01_en.STRINGS" Name="DLCworkshop01_en.STRINGS" On="both" />
                <File Id="DLCworkshop01_en.STRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop01_en.ILSTRINGS" Guid="9461FC0C-D194-4933-A9B0-1ADDBD2CCBF2">
                <RemoveFile Id="DLCworkshop01_en.ILSTRINGS" Name="DLCworkshop01_en.ILSTRINGS" On="both" />
                <File Id="DLCworkshop01_en.ILSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop01_en.DLSTRINGS" Guid="32204B01-ED43-4556-964E-26FCCBF38DB8">
                <RemoveFile Id="DLCworkshop01_en.DLSTRINGS" Name="DLCworkshop01_en.DLSTRINGS" On="both" />
                <File Id="DLCworkshop01_en.DLSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop02_en.STRINGS" Guid="35A6EAF0-D0DC-43D0-A1F2-A4A78980BEBB">
                <RemoveFile Id="DLCworkshop02_en.STRINGS" Name="DLCworkshop02_en.STRINGS" On="both" />
                <File Id="DLCworkshop02_en.STRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop02_en.ILSTRINGS" Guid="66D1EFAA-C1B0-4B69-B717-8709D8247C79">
                <RemoveFile Id="DLCworkshop02_en.ILSTRINGS" Name="DLCworkshop02_en.ILSTRINGS" On="both" />
                <File Id="DLCworkshop02_en.ILSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop02_en.DLSTRINGS" Guid="BB8D0F6D-F0DE-42DD-9854-DEBA60848A4D">
                <RemoveFile Id="DLCworkshop02_en.DLSTRINGS" Name="DLCworkshop02_en.DLSTRINGS" On="both" />
                <File Id="DLCworkshop02_en.DLSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop03_en.STRINGS" Guid="6C00489D-4ECD-4FA1-B1AA-CF435DD0E08F">
                <RemoveFile Id="DLCworkshop03_en.STRINGS" Name="DLCworkshop03_en.STRINGS" On="both" />
                <File Id="DLCworkshop03_en.STRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop03_en.ILSTRINGS" Guid="EB4758CF-34FA-4BD0-AC49-A41EB62E12FF">
                <RemoveFile Id="DLCworkshop03_en.ILSTRINGS" Name="DLCworkshop03_en.ILSTRINGS" On="both" />
                <File Id="DLCworkshop03_en.ILSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCworkshop03_en.DLSTRINGS" Guid="EFA1E609-2554-4A37-B4CE-F17C95F14C13">
                <RemoveFile Id="DLCworkshop03_en.DLSTRINGS" Name="DLCworkshop03_en.DLSTRINGS" On="both" />
                <File Id="DLCworkshop03_en.DLSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCRobot_en.STRINGS" Guid="FDE891F8-5A11-44FE-AA05-A27858BB304A">
                <RemoveFile Id="DLCRobot_en.STRINGS" Name="DLCRobot_en.STRINGS" On="both" />
                <File Id="DLCRobot_en.STRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCRobot_en.ILSTRINGS" Guid="BB79CB61-279F-4F39-BBC0-EA022B5512BC">
                <RemoveFile Id="DLCRobot_en.ILSTRINGS" Name="DLCRobot_en.ILSTRINGS" On="both" />
                <File Id="DLCRobot_en.ILSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCRobot_en.DLSTRINGS" Guid="EEA64F83-6708-4806-B06B-4C23598E4D4B">
                <RemoveFile Id="DLCRobot_en.DLSTRINGS" Name="DLCRobot_en.DLSTRINGS" On="both" />
                <File Id="DLCRobot_en.DLSTRINGS" KeyPath="yes" />
            </Component>

            <Component Id="DLCCoast_en.STRINGS" Guid="7F19C23E-B696-4B35-A05B-C07F313AF601">
                <RemoveFile Id="DLCCoast_en.STRINGS" Name="DLCCoast_en.STRINGS" On="both" />
                <File Id="DLCCoast_en.STRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCCoast_en.ILSTRINGS" Guid="74D422B3-ECD4-48A9-9BFC-ECB2F29554D7">
                <RemoveFile Id="DLCCoast_en.ILSTRINGS" Name="DLCCoast_en.ILSTRINGS" On="both" />
                <File Id="DLCCoast_en.ILSTRINGS" KeyPath="yes" />
            </Component>
            <Component Id="DLCCoast_en.DLSTRINGS" Guid="78175502-064B-404B-8155-F397E3C2FDD3">
                <RemoveFile Id="DLCCoast_en.DLSTRINGS" Name="DLCCoast_en.DLSTRINGS" On="both" />
                <File Id="DLCCoast_en.DLSTRINGS" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="INSTALLDIR" FileSource="$(var.SourceBase)">
            <Component Id="Fallout4_Cestina.html" Guid="E286B976-38E7-46C9-9A35-D78C23CAECE6">
                <RemoveFile Id="Fallout4_Cestina.html" Name="Fallout4_Cestina.html" On="both" />
                <File Id="Fallout4_Cestina.html" KeyPath="yes" />
            </Component>
            <Component Id="Fallout4_Cestina.png" Guid="0EBBD798-6B00-49CF-BCFB-7C4A4D8DC68F">
                <File Id="Fallout4_Cestina.png" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="FalloutDict.txt" />
            <ComponentRef Id="fonts_console.swf" />
            <ComponentRef Id="fonts_en.swf" />
            <ComponentRef Id="Translate_en.txt" />
            <ComponentRef Id="Fallout4Custom.ini" />
            <ComponentRef Id="Fallout4_en.STRINGS" />
            <ComponentRef Id="Fallout4_en.ILSTRINGS" />
            <ComponentRef Id="Fallout4_en.DLSTRINGS" />
            <ComponentRef Id="DLCworkshop01_en.STRINGS" />
            <ComponentRef Id="DLCworkshop01_en.ILSTRINGS" />
            <ComponentRef Id="DLCworkshop01_en.DLSTRINGS" />
            <ComponentRef Id="DLCworkshop02_en.STRINGS" />
            <ComponentRef Id="DLCworkshop02_en.ILSTRINGS" />
            <ComponentRef Id="DLCworkshop02_en.DLSTRINGS" />
            <ComponentRef Id="DLCworkshop03_en.STRINGS" />
            <ComponentRef Id="DLCworkshop03_en.ILSTRINGS" />
            <ComponentRef Id="DLCworkshop03_en.DLSTRINGS" />
            <ComponentRef Id="DLCRobot_en.STRINGS" />
            <ComponentRef Id="DLCRobot_en.ILSTRINGS" />
            <ComponentRef Id="DLCRobot_en.DLSTRINGS" />
            <ComponentRef Id="DLCCoast_en.STRINGS" />
            <ComponentRef Id="DLCCoast_en.ILSTRINGS" />
            <ComponentRef Id="DLCCoast_en.DLSTRINGS" />
            <ComponentRef Id="Fallout4_Cestina.html" />
            <ComponentRef Id="Fallout4_Cestina.png" />
        </Feature>

        <!-- Open README after install -->
        <Property Id="WixShellExecTarget" Value="[#Fallout4_Cestina.html]" />
        <CustomAction Id="OpenReadme" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />
        <UI>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="OpenReadme">NOT Installed</Publish>
        </UI>

        <!-- Read-only flag removal -->
        <SetProperty Id="RemoveReadOnly" Before="RemoveReadOnly" Sequence="execute"
                Value="&quot;[WindowsFolder]System32\attrib.exe&quot; -r &quot;[FALLOUTCONFIG]&quot;" />
        <CustomAction Id="RemoveReadOnly" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred"
                Return="check" Impersonate="no" />

        <!-- Custom install sequence -->
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
            <Custom Action="RemoveReadOnly" After="InstallInitialize" />
        </InstallExecuteSequence>

        <!-- Define installer icon -->
        <Icon Id="Icon" SourceFile="installer-icon.ico" />

        <!-- Configure properties for add/remove programs -->
        <Property Id="ARPPRODUCTICON" Value="Icon" />
        <Property Id="ARPHELPLINK" Value="$(var.ProductUrl)" />

        <!-- Define UI properties -->
        <WixVariable Id="WixUIBannerBmp" Value="installer-banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="installer-header.bmp" />

        <!-- Include UI configuration -->
        <?include installer-simpleui.wxi ?>
    </Product>
</Wix>